name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
            8.0.x
            10.0.2
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: App Settings Variable Substitution
      uses: microsoft/variable-substitution@v1
      with:
        files: '${{ github.workspace }}/OpenWeatherMap.Cache.Tests/appsettings.json'
      env:
        apiKey: ${{ secrets.API_KEY }}
      
    - name: Build
      run: dotnet build --no-restore --configuration Release

    - name: Test .NET Framework 4.8.1
      run: dotnet test --framework net481 --no-restore --configuration Release --verbosity normal --collect:"XPlat Code Coverage" --settings coverlet.runsettings
      
    - name: Test .NET 8.0
      run: dotnet test --framework net8.0 --no-restore --configuration Release --verbosity normal --collect:"XPlat Code Coverage" --settings coverlet.runsettings

    - name: Test .NET 10.0
      run: dotnet test --framework net10.0 --no-restore --configuration Release --verbosity normal --collect:"XPlat Code Coverage" --settings coverlet.runsettings

    - name: Code Coverage
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
